/* General page aspect */
#page {
    background: #dc0644; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #dc0644 0%, #f5a313 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dc0644), color-stop(100%,#f5a313)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #dc0644 0%,#f5a313 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #dc0644 0%,#f5a313 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #dc0644 0%,#f5a313 100%); /* IE10+ */
    background: linear-gradient(135deg, #dc0644 0%,#f5a313 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0644', endColorstr='#f5a313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container {
    background: #FFF;
    padding-right: 10px;
    padding-left: 10px;
}


/* Cocktail thumbnail display */
li.thumbnail {
    background: #FFF;
}
.filling-thumb {
    height: 150px;
    vertical-align: middle;
    text-align: center;
}
.filling-thumb > img {
    display: inline;
}
.caption > h5 {
    white-space: nowrap;
    overflow: hidden;
}