/* 
    Document   : default
    Created on : 06-Nov-2013, 00:51:38
    Author     : yann
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

td {
    border: 2px solid black;   
}

[class*="span"] {
    /* background-color: lightgreen;*/
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    line-height: 80px;
    text-align: center;
}


/*Mise en forme de la barre de menu*/
/*Utilisation de inline-block et width auto pour prendre automatiquement la taille du a qui sera a l'interieur*/
.nav li {
    padding: 0px;
    display: inline-block;
    width: auto;
}

/* DEBUG
.navbar .navbar-inner .nav > li {
    border: 2px dashed blue;
}
*/

/*On fixe les propriété du a qui va définir la taille du parent li*/
.navbar .navbar-inner .nav > li a {
   display: block;
   padding: 18px;
}

/*Elements de gauche*/
.navbar .nav > li:hover {
    background-color: rgba(255,115,148,0.8);
    border-radius: 8px 8px 8px 8px;
}

.navbar .nav > li:hover a {
    font-size: 20px;
    color: white;
    text-shadow: 0 0 2px #000;
}

.navbar .nav > li:hover a:hover {
    font-size: 20px;
    color: white;
}

/*Elements de droite*/
.navbar .pull-right > li:hover {
    background-color: rgba(255,197,105,0.8);
    border-radius: 8px 8px 8px 8px;
    font-size: 10px;
}

.navbar .pull-right > li:hover a {
    font-size: 20px;
    color: white;
}

.navbar .pull-right > li:hover a:hover {
    font-size: 20px;
    color: white;
}

/*Style des box */
.box {
    border: 1px dashed black;
    height: 200px;
    overflow-y: scroll;
}

.cocktail-vignette {
    height: 200px;
    border: 2px solid red;
    border-radius: 5px 5px 5px 5px;
    overflow-y: hidden;  
    overflow-x: hidden;
    position: relative;
}

.cocktail-vignette-name {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 12px;
}

.cocktail-vitrine {
    border: 2px dashed black;
    /*height: 300px;*/
    overflow-y: hidden;  
    overflow-x: hidden;
}

.vitrine-titre p {
    height: 50px;
    line-height: 45px;
    text-align: left;
    font-family: sans-serif Helvetica;
    font-size: 25px;
    margin-left: 80px;
}

.vitrine-titre {
    margin-left: 30px;
    background-image: url("#{resource['img:puce_titre.png']}");;
    background-repeat:no-repeat;
    overflow-y: hidden;  
    overflow-x: hidden;
}


