/* 
    Document   : default
    Created on : 06-Nov-2013, 00:51:38
    Author     : yann
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

h1 {
    text-align: center;
    color: red;
    text-decoration: underline;
}

h2 {
    margin-left: 20px;
    color: blue;
}

td {
    border: 2px solid black;   
}

[class*="span"] {
   /* background-color: lightgreen;*/
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    line-height: 80px;
    text-align: center;
}

.nav li {
    padding: 18px;
}

/*Style des box */
.box {
    border: 1px dashed black;
    height: 200px;
    overflow-y: scroll;
}

.box-content {

}

.cocktail-vignette {
    height: 200px;
    border: 2px solid red;
    border-radius: 5px 5px 5px 5px;
    overflow-y: hidden;  
    overflow-x: hidden;
}

.cocktail-vitrine {
    border: 2px dashed black;
    /*height: 300px;*/
    overflow-y: hidden;  
    overflow-x: hidden;
}

.vitrine-titre p {
    height: 50px;
    line-height: 45px;
    text-align: left;
    font-family: sans-serif Helvetica;
    font-size: 25px;
    margin-left: 80px;
}

.vitrine-titre {
    margin-left: 30px;
    background-image: url("#{resource['img:puce_titre.png']}");;
    background-repeat:no-repeat;
    overflow-y: hidden;  
    overflow-x: hidden;
}