/* 
    Document   : default
    Created on : 06-Nov-2013, 00:51:38
    Author     : yann
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

[class*="span"] {
    /* background-color: lightgreen;*/
    margin-bottom: 10px;
    border-radius: 5px 5px 5px 5px;
    line-height: 80px;
    text-align: center;
}

/*
#content {
    background-color: rgba(228,22,76,0.1)
}
*/
.banniere {
    background-image: url("#{resource['img:banniere.jpg']}");
    background-repeat:no-repeat;
    line-height: 180px;
}

/*Mise en forme de la barre de menu*/
/*Utilisation de inline-block et width auto pour prendre automatiquement la taille du a qui sera a l'interieur*/
.nav li {
    padding: 0px;
    display: inline-block;
    width: auto;
}

/* DEBUG
.navbar .navbar-inner .nav > li {
    border: 2px dashed blue;
}
*/

/*On fixe les propriété du a qui va définir la taille du parent li*/
.navbar .navbar-inner .nav > li a {
   display: block;
   padding: 18px;
}

/*Elements de gauche*/
.navbar .nav > li:hover {
    background-color: rgba(228,22,76,0.8);
    border-radius: 8px 8px 8px 8px;
}

.navbar .nav > li:hover a {
    font-size: 20px;
    color: white;
    text-shadow: 0 0 2px #000;
}

.navbar .nav > li:hover a:hover {
    font-size: 20px;
    color: white;
}

/*Elements de droite*/
.navbar .pull-right > li:hover {
    background-color: rgba(247,150,26,0.8);
    border-radius: 8px 8px 8px 8px;
    font-size: 10px;
}

.navbar .pull-right > li:hover a {
    font-size: 20px;
    color: white;
}

.navbar .pull-right > li:hover a:hover {
    font-size: 20px;
    color: white;
}

/*Style vignette cocktail*/
.cocktail-vignette {
    height: 200px;
    border: 2px solid rgba(228,22,76,1);
    border-radius: 5px 5px 5px 5px;
    overflow-y: hidden;  
    overflow-x: hidden;
    position: relative;
    background-color: white;
    background-color: rgba(228,22,76,0.1)
}

.cocktail-vignette-name {
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-size: 12px;
}

.add-button-vignette {
    position : absolute;
    right: 10px;
    bottom: 0px;
}

/*Style vitrine cocktails*/
.cocktail-vitrine {
    background-color: rgba(247,150,26,0.5);
    overflow-y: hidden;  
    overflow-x: hidden;
}

.vitrine-titre p {
    line-height: 45px;
    text-align: left;
    font-family: sans-serif Helvetica;
    font-size: 25px;
    margin-left: 120px;
}

.vitrine-titre {
    height: 50px;
    background-image: url("#{resource['img:puce_titre.png']}");
    background-repeat:no-repeat;
    background-position: 30px;
    overflow-y: hidden;  
    overflow-x: hidden;
    background-color: rgba(247,150,26,0.5);
    margin-bottom : 10px;
    border-radius: 5px 5px 5px 5px; 
}


